@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-category-title);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content {
  display: block;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 16px 14px 0 var(--color-shadow);
  /* background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  ); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  background-color: var(--color-primary);
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.historyItem.visible {
  opacity: 1;
  transform: translateX(0);
}

.historyItem img {
  width: 75px;
}

.historyItemDetails {
  font-family: var(--font-dmsans);
}

.historyItemDetails h3 {
  font-size: 25px;
  font-weight: 500;
  color: var(--color-dark);
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 15px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .historyItem {
    display: block;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 30px;
  }

  .historyItem img {
    width: 20%;
  }
}
