@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  /* margin-bottom: 10px; */
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: block;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  margin-top: 14px;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
}

.eduItem {
  display: block;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 10px;
  /* width: 97%; */
  box-shadow: 0 16px 14px 0 var(--color-dark);
}

.eduItem:hover {
    background-size: 0 100%;
}

.eduItem img {
  /* width: 50px; */
  width: 75px;
}

.eduItemDetails {
  font-family: var(--font-dmsans);
}

.eduItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.degree {
  font-size: 20px;
  font-weight: 500;
}

.dates {
  font-size: 15px;
  font-weight: 300;
}

.eduItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 15px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}
