@import "../../vars.css";

.navbar {
  position: fixed;
  top: -40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-top: 61px;
  z-index: 2;
  /* margin: 0 10%; */
  background-color: var(--color-bg);
}

.title {
  font-size:17px;
  font-weight: 800;
  font-family: var(--font-cursive);
  text-decoration: none;
  color: var(--color-text);
  margin: 0 10%;
  padding: 10px;
  color: var(--color-dark);
  /* flex-grow: 2; */
}

.selectedMenuItem {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
}

.modeButton {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: var(--color-bg);
  border: none;
  /* transition: background-color 0.3s ease; */
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
  margin: 0 10%;
  padding: 20px;
  /* height: 20px; */
}



.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  
}

.menuItems a {
  font-size: 15px;
  color: var(--color-text);
  text-decoration: none;
  
}

.menuItems a:hover {
  color: var( --color-category-title);
  border-bottom: 1px solid var(--color-category-title);
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-primary);
    box-shadow: 3px 10px 10px 0 var(--color-shadow);;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background:  var(--color-primary);
    /* background: linear-gradient(
      0deg,
      var(--color-primary) 0%,
      var(--color-secondary) 100%
    ); */
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

  /* .title{
    text-align: center;
  } */
}
